<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="region">Region</label>
          <mat-form-field appearance="fill">
          <mat-select [formControl]="regionControl" (selectionChange)="regionChange(regionControl.value?.abbreviation)">
              <mat-option *ngFor="let region of regions" [value]="region">
                  {{region.abbreviation}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="form-group">
          <label for="competition">Competition</label>
          <mat-form-field appearance="fill">
            <mat-select [formControl]="compControl">
              <mat-option *ngFor="let competition of competitions" [value]="competition">
                {{ competition.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="team1">Team 1</label>
          <mat-form-field appearance="fill">
            <mat-select [formControl]="team1Control">
              <mat-option *ngFor="let team of teams" [value]="team">
                {{ team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <label for="team2">Team 2</label>
          <mat-form-field appearance="fill">
            <mat-select [formControl]="team2Control">
              <mat-option *ngFor="let team of teams" [value]="team">
                {{ team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <mat-form-field appearance="fill">
            <input matInput [formControl]="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="hour">Hour</label>
          <input [ngxTimepicker]="pickerTime" [formControl]="hour">
          <ngx-material-timepicker #pickerTime></ngx-material-timepicker>
        </div>
        <div class="form-group">
          <label for="matchType">Match Type</label>
          <mat-radio-group [(ngModel)]="selectType" aria-label="Select an option" class="radio-group">
            <mat-radio-button class="radio-button" value="1">Best of 1</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Best of 3</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">Best of 5</mat-radio-button>
          </mat-radio-group>
        </div>
  
        <button (click)="saveMatch()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Match was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newMatch()">Add</button>
      </div>
    </div>
  </div>