<div id="app">
  <p>
    <mat-toolbar color="basic">
      <span><a routerLink='/home'>Team Diff</a></span>
      
      <mat-nav-list class="list-horizontal">
        <mat-list-item>
          <a href="/home" class="nav-link" routerLink="home">Home </a> 
        </mat-list-item>
        <mat-list-item *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </mat-list-item>
        <mat-list-item *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User board</a>
        </mat-list-item>
      </mat-nav-list>
      <div  fxFlex fxLayoutAlign="flex-end center">
      <button  *ngIf="!isLoggedIn" mat-stroked-button color="primary" routerLink='/login' aria-label="Example icon-button with menu icon">
        Login
      </button>
      <button *ngIf="!isLoggedIn" mat-stroked-button color="accent" routerLink='/register' aria-label="Example icon-button with share icon">
        Sign Up
      </button>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>{{username}}</button>
        <button mat-menu-item>User panel</button>
        <button mat-menu-item>Security</button>
        <button mat-menu-item>Identification</button>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
      
      </div>
      
    </mat-toolbar>
  </p>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>