<div>
    <div class="submit-form" [formGroup]="teamForm">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="color">Color</label>
          <!--<input
            class="form-control"
            id="color"
            required
            [(ngModel)]="team.color"
            name="color"
          />-->
          <input [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'rgba'" formControlName="color"
          id="color" name="color"/>
        </div>

        <div class="form-group">
          <label for="region">Region</label>
          <mat-form-field appearance="fill">
          <mat-select formControlName="region">
              <mat-option *ngFor="let region of regions" [value]="region">
                  {{region.abbreviation}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
  
        <button (click)="saveTeam()" *ngIf="!isUpdate" class="btn btn-success">Submit</button>
        <button (click)="updateTeam()" *ngIf="isUpdate" class="btn btn-success">Update</button>
        <button (click)="cancelUpdate()" *ngIf="isUpdate" class="btn btn-warn">Cancel</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Team was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTeam()">Add</button>
      </div>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="teams" class="mat-elevation-z8 team-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>Region</th>
        <td mat-cell *matCellDef="let element">{{element.region}}</td>
      </ng-container>
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let element" style="background-color:{{element.color}}"><div class="background-color:{{element.color}}; width: 100%"></div></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="updateRow(row)"></tr>
    </table>
  </div>