<div>
    <div class="submit-form" [formGroup]="teamForm">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="primary_color">Primary Color</label>
          <input [(colorPicker)]="primary_color" [style.background]="primary_color" [cpOutputFormat]="'rgba'" formControlName="primary_color"
          id="primary_color" name="primary_color"/>
        </div>
        <div class="form-group">
          <label for="secondary_color">Secondary Color</label>
          <input [(colorPicker)]="secondary_color" [style.background]="secondary_color" [cpOutputFormat]="'rgba'" formControlName="secondary_color"
          id="secondary_color" name="secondary_color"/>
        </div>
        <div class="form-group">
          <label for="region">Region</label>
          <mat-form-field appearance="fill">
          <mat-select formControlName="region">
              <mat-option *ngFor="let region of regions" [value]="region">
                  {{region.abbreviation}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" (click)="saveTeam()" *ngIf="!isUpdate">Submit</button>
        <button mat-raised-button color="primary" (click)="updateTeam()" *ngIf="isUpdate">Update</button>
        <button mat-raised-button (click)="cancelUpdate()" *ngIf="isUpdate">Cancel</button>
        <button mat-raised-button color="warn" (click)="deleteRow()" *ngIf="isUpdate">Delete</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Team was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTeam()">Add</button>
      </div>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="teams" class="mat-elevation-z8 team-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>Region</th>
        <td mat-cell *matCellDef="let element">{{element.region}}</td>
      </ng-container>
      <ng-container matColumnDef="primary_color">
        <th mat-header-cell *matHeaderCellDef>Primary Color</th>
        <td mat-cell *matCellDef="let element" style="background-color:{{element.primary_color}}"><div class="background-color:{{element.color}}; width: 100%"></div></td>
      </ng-container>
      <ng-container matColumnDef="secondary_color">
        <th mat-header-cell *matHeaderCellDef>Secondary Color</th>
        <td mat-cell *matCellDef="let element" style="background-color:{{element.secondary_color}}"><div class="background-color:{{element.color}}; width: 100%"></div></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="updateRow(row)"></tr>
    </table>
  </div>